<!-- accounts/templates/accounts/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-dark text-white text-center">
                        <h4 style="font-family: Comic Sans MS;">Register</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <button type="submit" class="btn btn-dark btn-block" style="font-family: Comic Sans MS;">Register</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <p>Already have an account? <a href="{% url 'userdetails:login' %}" class="btn btn-link " style="font-family: Comic Sans MS; color:rgb(8, 8, 8);">Login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
